 
 .header1{
	background: #4AB03A;

}
.navbar-brand
{
    font-size: 22px;
    font-weight: 550px;
    padding-left: 30px;
}
.navbar-nav li
{   
    justify-content: space-between;
    font-size: 22px;
    font-weight: 400;
}
 h4
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    font-weight: 700px;
    padding-top: 30px;
    color:chocolate;
    align-items:center;
}
.main-header p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    margin-right: 20px;
}
.img
{
    display: flex;
    justify-content: center;
}
.main-header img
{   
    float:center;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
}

#diseases
{
    padding: 2rem 0 2rem 0;
}
#diseases  h2
{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    margin:0 1rem;
    text-transform: uppercase; 
}
.disease-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.disease-container img
{
    display: block;
    width: 100%;
    margin: auto;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}
.img-container 
{
    margin: 0 1rem;
    position: relative;
}
.img-content
{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 2;
    text-align: center;
    transition: all 0.3s ease-in-out 0.1s;
}
.img-content
{
    font-size: 1.2rem;
}
.img-container::after 
{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0,0,0.871);
    opacity: 0;
    z-index:1;

    transform: scaleY(0);
    transform-origin: 100% 100%;
    transition: all 0.3s ease-in-out;
}
.img-container:hover::after
{
    opacity: 1;
    transform:scaleY(1);
}
.img-container:hover .img-content
{   
    opacity: 1;
    top: 40%;
}